hr.title {
	border-top:.5px solid #ad6989;
}

h1 {
    margin: 10px;
    color: #562349;
}

h2 {
    margin: 10px;
    color: #562349;
}

h3 {
    margin: 10px;
    color: #562349;
}

body {
    color: #562349
    margin: 10px
}

a {
    color: #ad6989;
    padding: 5px;
    text-align: center;
}

a:hover, a:active {
    color: #562349;
}

.btn {
    background-color: #ffa299;
    border: none;
    color: #fee2b3;
    font-size: 16px;
}

.btn:hover {
  background-color: #ad6989;
  color: #562349;
}

.custom-select, .form-control {
    background-color: #fee2b3;
    color: #ad6989;
}
