h1 {
    margin: 10px;
    color: #562349;
}

hr.title {
    border-top:.5px solid #ad6989;
}

h2 {
    margin: 10px;
    color: #562349;
}

h3 {
    margin: 10px;
    color: #562349;
}

body {
    color: #562349
    margin: 10px
}

a {
    color: #ad6989;
    padding: 5px;
    text-align: center;
}

a:hover, a:active {
    color: #562349;
}

.btn {
    background-color: #ad6989;
    border: none;
    color: #fee2b3;
    font-size: 16px;
}

.btn:hover {
  background-color: #ad6989;
  color: #562349;
}

.custom-select, .form-control {
    background-color: #fee2b3;
    color: #ad6989;
}

.form-control:focus {
    background-color: #ffa299;
    color: #fee2b3;
}

.nav-item.nav-link {
    background-color: #fee2b3;
}

.nav-item.nav-link.active.show {
    background-color: #ffa299;
    color: #fee2b3;
}

.list-group-item {
    background-color: #fee2b3;
    color: #ad6989;
}

.cb {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

/*#fee2b3 yellow
#ffa299 rose
#ad6989 purple
#562349 mauve */
